@mixin invert-filter($percentage) {
	-webkit-filter: invert($percentage);
			filter: invert($percentage);
}

@mixin filter-transition() {
	-webkit-transition: -webkit-filter 0.3s ease-in-out, margin 0.3s ease-in-out;
			transition: filter 0.3s ease-in-out, margin 0.3s ease-in-out;
}

#view-game-board {
	position: relative;
	height: 700px; 
	.tile {
		position: absolute;
		@include filter-transition(); 
		
		&:hover:not(.blocked) {
			margin-top: $tileHoverMargin;
		}
		&.selected {
			@include invert-filter(100%);
		}
		&.blocked {
			@include invert-filter(20%);
		}
	}
}