$fontColor: black;
$backgroundColor: #ff0033;
$buttonBorderColor: #ff0000;
$buttonBackgroundColor: #8b0000;
$buttonTextColor: #fff;
$fontSize: 1.2em;
$listGroupItemBackgroundColor: #8b0000;
$listGroupItemBorderColor: #ff0000;
$successColor: #5cb85c;
$successBorderColor: #4cae4c;
$primaryColor: #337ab7;
$primaryBorderColor: #2e6da4;
$dangerColor: #ebcccc;
$dangerBorderColor: #a94442;