$fontColor: black;
$backgroundColor: lightblue;
$buttonBorderColor: #2e6da4;
$buttonBackgroundColor: #337ab7;
$buttonTextColor: #fff;
$fontSize: 1.2em;
$listGroupItemBackgroundColor: #337ab7;
$listGroupItemBorderColor: #2e6da4;
$successColor: #5cb85c;
$successBorderColor: #4cae4c;
$primaryColor: #337ab7;
$primaryBorderColor: #2e6da4;
$dangerColor: #ebcccc;
$dangerBorderColor: #a94442;

$targetWidth: 50px;
$url: url(../images/tiles.png);

$tileWidth: 348.959px;
$tileHeight: 480px;
$tileDivider: $tileWidth / $targetWidth;
$tileShadowColor: rgba(0,0,0,0.4);
$tileHoverMargin: 5px;